.swiper-container {
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 64px 24px;
    background-color: #f5f4f9;
}

.swiper-pagination-bullet-active {
    background-color: #5c3caf !important;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.underline-purple {
    height: 4px;
    background-color: #5e3db3;
}

.title-text {
    font-weight: 400;
    font-size: 24px;
    color: #c2c2c2;
    margin: 0 8px;
    width: 120px;
}

.description-text {
    font-weight: 400;
    font-size: 16px;
}
